.card{
    box-shadow: 0 0 10px #696969;
    
}
.card-body{
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    background-color: #9B9A9A;
    box-shadow: 0 0 10px #696969;;
}